# dosbox configuration that automatically runs through DOOF install process.
# We simulate input by pushing fake keypresses into the BIOS keyboard buffer.

[sdl]
usescancodes = false
fullscreen = false
fullresolution = 640 x 480

[render]
aspect = false
scaler = none

[midi]
mpu401 = none
mididevice = none

[speaker]
pcspeaker = false
tandy = off
disney = false

[joystick]
joysticktype = none

[sblaster]
sbtype = none
oplmode = none

[gus]
gus = false

[cpu]
cycles = fixed 12000

[ipx]
ipx = false

[autoexec]
mount c .
mount t /tmp/doof-autoinst
c:
imgmount -t floppy a doof.img
rem ; installer: drive t; append 'inst', enter, y to create dir
stuffkey tinst\ry
rem ; setup program: enter, enter, enter for defaults; quit & save settings
stuffkey \r\r\r\e\r
a:
call install.bat
exit

