# dosbox configuration to build doof.img install disk

[sdl]
usescancodes = false
fullscreen = false
fullresolution = 640 x 480

[render]
aspect = false
scaler = none

[midi]
mpu401 = none
mididevice = none

[speaker]
pcspeaker = false
tandy = off
disney = false

[joystick]
joysticktype = none

[sblaster]
sbtype = none
oplmode = none

[gus]
gus = false

[cpu]
core = dynamic
cycles = auto

[ipx]
ipx = false

[autoexec]
imgmount a doof.img -t floppy
mount c .
c:

copy doof.exe a:\doof.1
copy c:\install\*.* a:\
exit

