# dosbox configuration to run lha and produce self-extracting archive file.

[sdl]
usescancodes = false
fullscreen = false
fullresolution = 640 x 480

[render]
aspect = false
scaler = none

[midi]
mpu401 = none
mididevice = none

[speaker]
pcspeaker = false
tandy = off
disney = false

[joystick]
joysticktype = none

[sblaster]
sbtype = none
oplmode = none

[gus]
gus = false

[cpu]
cycles = fixed 12000

[ipx]
ipx = false

[autoexec]
mount c .
mount d staging
c:

del doof.exe
del doof.lzh
lha /rx a doof d:\
lha s doof
exit

